body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  background-image: url(../img/background.jpg);
  background-size: cover;
}

header {
  background-color: rgb(64, 161, 184);
  height: 5em;
  margin-bottom: 2em;
}

header img {
  float: left;
  margin: 0.28em 0 0 1em;
}

header ul {
  float: right;
  margin: 1.9em 5em 0 0;
}

header li {
  display: inline;
  margin: 0 1.3em;
}

header a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  /* text-shadow: 0.063em 0.063em 0.188em black; */
}

main {
  width: 50em;
  margin: 0 auto 5em;
  min-height: calc(80vh - 70px);
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.6em;
}

form {
  background-color: #eee;
  border: 0.063em solid #666;
  box-shadow: 0.063em 0.063em 0.188em #666;
  border-radius: 0.625em;
  padding: 1em;
  margin-bottom: 1em;
}

legend {
  margin-bottom: 0.5em;
}

fieldset legend {
  font-size: 1.5em;
}

label {
  display: inline-block;
  width: 7em;
}

.task-instructions {
  padding-bottom: 1em;
}

#taskName {
  margin-right: 1.25em;
}

#taskName,
#taskAssignees {
  float: left;
}

#taskAssignees div {
  margin-bottom: 0.625em;
}

input,
select {
  padding: 0.4em 2em 0.4em 1em;
  border-radius: 0.313em;
  border: 0.031em solid black;
  font-size: 1.1em;
}

form button {
  margin: 2em auto 1em;
  width: 15em;
  display: block;
  padding: 0.7em;
  border: 0.125em solid grey;
  border-radius: 0.375em;
  font-weight: bold;
  font-size: 0.875em;
  background-color: #eff446;
  cursor: pointer;
}

section {
  background-color: #eee;
  border: 0.063em solid #666;
  box-shadow: 0.063em 0.063em 0.188em #666;
  overflow: auto;
  border-radius: 0.625em;
  padding: 1.2em 2em 2.3em 2em;
  margin-bottom: 1em;
}

section button {
  float: right;
  margin: 2em auto 1em;
  width: 15em;
  display: block;
  padding: 0.7em;
  border: 0.125em solid grey;
  border-radius: 0.375em;
  font-weight: bold;
}

section button:hover {
  cursor: pointer;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

section a {
  text-decoration: underline;
  color: black;
}
main p {
  line-height: 1.5em;
}
main section {
  line-height: 1.5em;
}

section img {
  float: left;
  margin-right: 1.25em;
}

button + p {
  float: left;
  margin-right: 0.5em;
  padding: 0.45em 0;
  font-size: 0.85em;
}

li {
  text-transform: capitalize;
}

p + ul li {
  float: left;
  margin-right: 1em;
  padding: 0.4em 2em 0.4em 1em;
  font-size: 0.85em;
}

section ul {
  float: left;
}

section ul:first-child {
  width: 15em;
  margin-right: 5em;
}

section ul:first-child li {
  cursor: pointer;
  border: 0.063em solid black;
  border-radius: 0.625em;
  padding: 0.625em;
  margin-bottom: 0.5em;
  text-align: center;
}

.selected-person {
  background-color: rgb(156, 224, 241);
}

footer {
  background-color: rgb(64, 161, 184);
  height: 4em;
  height: 3.125em;
  text-align: center;
  line-height: 3.125em;
  color: white;
}
footer a {
  text-decoration: underline;
  color: white;
}

#peoples-tasks li {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  align-content: center;
  margin: 10px;
}

.happy-helpers p {
  line-height: 1.3em;
  font-size: 0.9em;
}

.linkedInLogo {
  width: 23px;
  margin-right: 0;
  float: none;
  vertical-align: top;
}

.animateTaskIn {
  animation: highlightAndFade 1s;
  animation-timing-function: ease-out;
}

@keyframes highlightAndFade {
  0% {
    background-color: rgb(255, 156, 166);
  }
  100% {
    background-color: #d15360;
  }
}
