body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

header {
  background-color: rgb(64, 161, 184);
  height: 5em;
  margin-bottom: 2em;
}

header img {
  float: left;
  margin: 0.28em 0 0 1em;
}

header ul {
  float: right;
  margin: 1.9em 5em 0 0;
}

header li {
  display: inline;
  margin: 0 1.3em;
}

header a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px black;
}

main {
  width: 50em;
  margin: 0 auto 5em;
  min-height: calc(80vh - 70px);
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.6em;
}

form {
  background-color: #eee;
  border: 1px solid #666;
  box-shadow: 1px 1px 3px #666;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

legend {
  margin-bottom: 20px;
}

fieldset legend {
  font-size: 1.5em;
}

label {
  display: inline-block;
  width: 60px;
}

#taskName {
  margin-right: 20px;
}

#taskName, #taskAssignees {
  float: left;
}

#taskAssignees div {
  margin-bottom: 10px;
}

input {
  padding: 0.4em 2em 0.4em 1em;
  border-radius: 5px;
  border: 0.5px solid black;
}

form button {
  margin: 2em auto 1em;
  width: 15em;
  display: block;
  padding: 0.7em;
  border: 2px solid grey;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  background-color: #eff446;
  cursor: pointer;
}

section {
  
  background-color: #eee;
  border: 1px solid #666;
  box-shadow: 1px 1px 3px #666;
  overflow: auto;
  border-radius: 10px;
  padding: 1.2em 2em 2.3em 2em;
  margin-bottom: 1em;
}

section button {
  float: right;
  border: none;
  background-color: transparent;
  color: red;
}

section button:hover {
  cursor: pointer;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

section a {
  text-decoration: none;
  color: black;
}

section img {
  float: left;
  margin-right: 20px;
}

button + p {
  float: left;
  margin-right: 0.5em;
  padding: 0.45em 0;
  font-size: 0.85em;
}

li {
  text-transform: capitalize;
}

p + ul li {
  float: left;
  margin-right: 1em;
  padding: 0.4em 2em 0.4em 1em;
  font-size: 0.85em;
}

section ul {
  float: left;
}

section ul:first-child {
  width: 15em;
  margin-right: 5em;
}

section ul:first-child li {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 0.5em;
  text-align: center;
}

footer {
  background-color: rgb(64, 161, 184);
  height: 4em;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* .animateTaskIn {
  animation: highlightAndFade 1s;
  animation-timing-function: ease-out; 
}

@keyframes highlightAndFade {
  0% {
    background-color: #54ceff;
  }
  100% {
    background-color: #eeeeee;
  }
}

//create event listener to take in form data
taskFormEl.addEventListener('submit', function(event) {
  event.preventDefault();
  editorInput(event);
  //eslint-disable-next-line
  checkLocalStorage();
  editorRender();
  
  // this bit adds my animation class
  var lastAddedTask = document.getElementById('tasks-editor-list').lastChild;
  lastAddedTask.className = "animateTaskIn"
});
*/